@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "react-datepicker/dist/react-datepicker.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html { scroll-behavior: smooth; }
section[id] { scroll-margin-top: 80px; }

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@font-face {
  font-family: "BrownSugar";
  src: url("/fonts/BrownSugar.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.font-brownsugar {
  font-family: "BrownSugar", cursive;
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}
.font-lato {
  font-family: "Lato", sans-serif;
}
